# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm project settings
.idea

# figures and other results
*figures
ZigZag-Sampling-Tutorial
examples/jax-fem/data
examples/jax-fem/figures

# output dirs dirs
*data
*_data
*figures
*.log

# inverse example
examples/inverse_problem/constant_field/model_params
examples/inverse_problem/constant_field/observations.dat
examples/inverse_problem/exponential_recovery_field/GRID_MODE_GUIDE.md
examples/inverse_problem/exponential_recovery_field/QUICK_REFERENCE.md
examples/inverse_problem/exponential_recovery_field/SETUP_COMPLETE.md
examples/inverse_problem/exponential_recovery_field/samples
examples/inverse_problem/exponential_recovery_field/forward_model
examples/inverse_problem/exponential_recovery_field/model_params
examples/inverse_problem/exponential_recovery_field/investigate_likelihood.py

# apptainer
*.sif

# cluster related
sync_cluster.sh
*.err
*.out

# paraview
*.pvcc
